body {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

nav {
    background-color: dimgrey;
    display: flex;
    height: 3vh;
    width: 33vw;
    justify-content: space-around;
}

nav ul {
    padding: 5px;
    list-style: none;
    display: block;
    color: darkgray;
    font-family: 'asul', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

@media all and (max-width: 800px) {
    nav {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    nav {
        flex-flow: column wrap;
        padding: 0;
    }
}


/* Forside */
.screen {
    background-image: url(billeder/baggrund_forside.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
    z-index: 100;
}

#navn img {
    height: 5vw;
    width: 46.3vw;
    position: absolute;

    top: 16vw;
    left: 25.5vw;
}

#eksamen img {
    height: 5vw;
    width: 26vw;
    position: absolute;

    top: 25vw;
    left: 37vw;
}

/*---------Forside Knapper---------*/
.container {
    position: relative;
    height: 0;
    width: 0;

    top: 34vw;
    left: 18.5vw;
}

.container img {
    height: 12.4vw;
    width: 22vw;
}

.portfolio a {
    position: absolute;
}

.about {
    position: absolute;
    top: 0vw;
    left: 40vw;
}

.about a {
    position: absolute;
}

#om img {
    position: absolute;
    height: 4vw;
    width: 14vw;

    top: -8vw;
    left: 3.9vw;
}

#portfolio_text img {
    position: absolute;
    height: 3.5vw;
    width: 16vw;

    top: -8vw;
    left: 2.8vw;

}

#logo img {
    position: absolute;
    width: auto;
    height: 12vw;

    top: 0;
    left: 25vw;
}

/*-----------MEDIA QUERIES------------*/
@media only screen and (max-width: 700px) {
    .screen {
        width: 100vw;
        height: 100vh;
        background-position: 50% 0%;
    }

    #navn img {
        height: 10vw;
        width: 80vw;
        position: absolute;

        top: 40vw;
        left: 10vw;
    }

    #eksamen img {
        height: 8vw;
        width: 50vw;
        position: absolute;

        top: 60vw;
        left: 25vw;
    }

    .container {
        position: relative;
        height: 0;
        width: 0;

        top: 75vh;
        left: 2.5vw;
    }

    .container img {
        height: 20vw;
        width: 45vw;
    }

    .portfolio a {
        position: absolute;
    }

    .about {
        position: absolute;
        top: 0vw;
        left: 50vw;
    }

    .about a {
        position: absolute;
    }

    #om img {
        position: absolute;
        height: 10vw;
        width: 25vw;

        top: -15vw;
        left: 10vw;
    }

    #portfolio_text img {
        position: absolute;
        height: 8.5vw;
        width: 25vw;

        top: -14.8vw;
        left: 10vw;

    }

    #logo img {
        position: absolute;
        width: auto;
        height: 35vw;

        top: -60vw;
        left: 29vw;
    }
}
