body {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    height: 2vw;
    width: 25vw;
    margin: 0;
    padding: 0.5vh;
    padding-left: 4vh;
    padding-right: 0;
    background-color: dimgrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    display: block;
    color: black;
    font-family: 'Asul', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
}

nav img {
    position: absolute;
    height: 2vw;
    width: auto;

    top: 0.25vw;
    left: 74vw;
}


/* Forside */
.screen {
    background-image: url(billeder/baggrund_forside.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#navn img {
    height: 5vw;
    width: 46vw;
    position: absolute;

    top: 16vw;
    left: 27vw;
}

#eksamen img {
    height: 4vw;
    width: 25vw;
    position: absolute;

    top: 25vw;
    left: 38vw;
}

/*---------Forside Knapper---------*/
.container {
    position: relative;
    height: 0;
    width: 0;

    top: 34vw;
    left: 18.5vw;
}

.container img {
    height: 12.4vw;
    width: 22vw;
}

.portfolio a {
    position: absolute;
}

.about {
    position: absolute;
    top: 0vw;
    left: 40vw;
}

.about a {
    position: absolute;
}

#om img {
    position: absolute;
    height: 4vw;
    width: 14vw;

    top: -8vw;
    left: 3.9vw;
}

#portfolio_text img {
    position: absolute;
    height: 3.5vw;
    width: 16vw;

    top: -8vw;
    left: 2.8vw;

}

#logo img {
    position: absolute;
    width: auto;
    height: 12vw;

    top: 0;
    left: 25vw;
}


/*-----------Portfolio skærmen--------*/
#screen_portfolio {
    background-image: url(billeder/baggrund_portfolio.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

#overskrift img {
    position: absolute;
    height: auto;
    width: 20vw;

    top: 1vw;
    left: 25vw;
}


#col1 a {
    position: absolute;
}

.about {
    position: absolute;
    top: 0vw;
    left: 40vw;
}

.about a {
    position: absolute;
}

#om img {
    position: absolute;
    height: 4vw;
    width: 14vw;

    top: -8vw;
    left: 3.9vw;
}

#portfolio_text img {
    position: absolute;
    height: 3.5vw;
    width: 16vw;

    top: -8vw;
    left: 2.8vw;

}


/*-----------MEDIA QUERIES------------*/
@media only screen and (max-width: 700px) {
    .screen {
        width: 100vw;
        height: 100vh;
        background-position: 50% 0%;
    }

    #navn img {
        height: 10vw;
        width: 80vw;
        position: absolute;

        top: 40vw;
        left: 10vw;
    }

    #eksamen img {
        height: 8vw;
        width: 50vw;
        position: absolute;

        top: 60vw;
        left: 25vw;
    }

    .container {
        position: relative;
        height: 0;
        width: 0;

        top: 75vh;
        left: 2.5vw;
    }

    .container img {
        height: 20vw;
        width: 45vw;
    }

    .portfolio a {
        position: absolute;
    }

    .about {
        position: absolute;
        top: 0vw;
        left: 50vw;
    }

    .about a {
        position: absolute;
    }

    #om img {
        position: absolute;
        height: 10vw;
        width: 25vw;

        top: -15vw;
        left: 10vw;
    }

    #portfolio_text img {
        position: absolute;
        height: 8.5vw;
        width: 25vw;

        top: -14.8vw;
        left: 10vw;

    }

    #logo img {
        position: absolute;
        width: auto;
        height: 35vw;

        top: -60vw;
        left: 29vw;
    }
}
