body {
    background-image: url(billeder/baggrund_portfolio.png);
    background-size: 100% 100%;
    background-repeat: repeat;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: dimgrey;
}

p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    color: white;
    margin: 0;
    padding: 1vw;
}

h1 {
    font-family: 'asul', sans-serif;
    color: white;
    font-size: 2rem;
    margin: 0;
    padding: 1vw;
    text-shadow: 2px 2px 5px black;
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    height: 2vw;
    width: 25vw;
    margin: 0;
    padding: 0.5vh;
    padding-left: 4vh;
    padding-right: 0;
    background-color: dimgrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0vw 0vw 0vw 1vw;
    box-shadow: 0 0 15px 10px #000000;
}

nav a {
    text-decoration: none;
    color: #141414;
    font-family: 'Asul', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-shadow: 1 1 15px 10px grey;
}

nav img {
    position: relative;
    height: 2vw;
    width: auto;

    top: 0.2vw;
    left: 3vw;
}


/* Forside */
.screen {
    background-image: url(billeder/baggrund_forside.jpg);
    background-size: 100% 100%;
    height: 100vh;
}

#navn img {
    height: 5vw;
    width: 46vw;
    position: absolute;

    top: 11vw;
    left: 27vw;
}

#eksamen img {
    height: 4vw;
    width: 27vw;
    position: relative;

    top: 23.3vw;
    left: 36.5vw;
}

/*---------Forside Knapper---------*/
.container {
    position: relative;
    height: auto;
    width: 62vw;

    top: 30vw;
    left: 19.5vw;
}

.container img {
    height: 12.4vw;
    width: 22vw;
}

.portfolio a {
    position: absolute;
}

.about {
    position: absolute;
    top: 0vw;
    left: 40vw;
}

.about a {
    position: absolute;
}

#om img {
    position: absolute;
    height: 4vw;
    width: 14vw;

    top: -8vw;
    left: 3.9vw;
}

#portfolio_text img {
    position: absolute;
    height: 3.5vw;
    width: 16vw;

    top: -8vw;
    left: 2.8vw;

}

#logo img {
    position: absolute;
    width: auto;
    height: 12vw;

    top: 0;
    left: 25vw;
}


/*-----------Portfolio skærmen--------*/
#screen_portfolio {
    max-width: 100vw;
    height: 100vh;

}

#overskrift {
    position: relative;
    height: auto;
    width: 20vw;

    top: 6vw;
    left: 39vw;
}

.tema img {
    position: relative;
    height: 12vw;
    width: 35vw
}

#tema1 img {
    position: absolute;

    top: 16vw;
    left: 11.5vw;
}

#tema2 img {
    position: absolute;
    top: 34vw;
    left: 11.5vw;

}

#tema3 img {
    position: absolute;
    top: 16vw;
    left: 54.5vw;

}

#tema4 img {
    position: absolute;

    top: 34vw;
    left: 54.5vw;
}


/*---------Generelle Tema-regler---------*/
.screen_tema {
    width: 100%;
    height: 100%;
}

.container_1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.tema_overskrift {
    position: relative;
    height: 10vw;
    width: 57vw;

    top: 1vw;
    left: 20vw;
}

#tilbage {
    position: absolute;
    height: 0vw;
    width: 0vw;
    padding: 0.5vw;

    top: 0;
    left: 0;
}

#tilbage img {
    width: auto;
    height: 2.5vw;
}

#col_smal {
    margin: 2.5vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    flex-basis: 30vw;
    background-color: grey;
    border-radius: 1vw;
    box-shadow: 0 0 15px 10px #000000;
}

#col_bred {
    flex-basis: 50vw;
    margin: 1.5vw;
    margin-left: 2.5vw;
    margin-right: 0;
}

#col {
    flex-basis: 24vw;
    margin: 1.5vw;
    margin-left: 1vw;
}

#col img {
    height: auto;
    width: 100%;
}

#col_text {
    margin: 2vw;
    margin-top: 1.7vw;
    margin-bottom: 2vw;
    flex-basis: 40vw;
    background-color: grey;
    border-radius: 1vw;
    box-shadow: 0 0 15px 10px #000000;
}




/*-----------MEDIA QUERIES------------*/
/*-----FORSIDE-----*/
@media only screen and (max-width: 700px) {
    .screen {
        width: 100vw;
        height: 100vh;
        background-position: 50% 0%;
    }

    #navn img {
        height: 10vw;
        width: 80vw;
        position: absolute;

        top: 40vw;
        left: 10vw;
    }

    #eksamen img {
        height: 8vw;
        width: 50vw;
        position: absolute;

        top: 60vw;
        left: 25vw;
    }

    .container {
        position: relative;
        height: 0;
        width: 0;

        top: 75vh;
        left: 2.5vw;
    }

    .container img {
        height: 20vw;
        width: 45vw;
    }

    .portfolio a {
        position: absolute;
    }

    .about {
        position: absolute;
        top: 0vw;
        left: 50vw;
    }

    .about a {
        position: absolute;
    }

    #om img {
        position: absolute;
        height: 10vw;
        width: 25vw;

        top: -15vw;
        left: 10vw;
    }

    #portfolio_text img {
        position: absolute;
        height: 8.5vw;
        width: 25vw;

        top: -14.8vw;
        left: 10vw;

    }

    #logo img {
        position: absolute;
        width: auto;
        height: 35vw;

        top: -60vw;
        left: 29vw;
    }

    nav {
        display: flex;
        justify-content: flex-end;
    }

    nav ul {
        height: 2vw;
        width: 25vw;
        margin: 0;
        padding: 0.5vh;
        padding-left: 4vh;
        padding-right: 0;
        background-color: dimgrey;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    nav a {
        text-decoration: none;
        display: block;
        color: black;
        font-family: 'Asul', sans-serif;
        font-size: 1.5vw;
        text-transform: uppercase;
    }

    nav img {
        position: absolute;
        height: 2vw;
        width: auto;

        top: 0.25vw;
        left: 74vw;
    }
}
